@font-face {
  font-family: "pt_sansregular";
  src: url("./assets/fonts/ptsans-regular.woff2") format("woff2"),
    url("/assets/fonts/ptsans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-primary: #65b7e5;
  --clr-accent: rgb(0, 255, 234);
  --clr-accent-medium: rgb(0, 255, 234, 0.7);
  --clr-accent-dark: rgb(0, 255, 234, 0.3);
  --clr-secondary-400: #e7f6ff;
  --clr-secondary-200: #f0eeee;

  --clr-neutral-200: #ffff;
  --clr-neutral-900: rgb(0, 0, 0);

  --ff-primary: "Roboto Slab", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.section-marker {
  visibility: hidden;
}

.underline {
  text-decoration: underline;
}

body {
  background-color: rgb(0, 29, 70);
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0% 15vw;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, Helvetica sans-serif;
  justify-content: flex-start;
  gap: 15vh;
  position: relative;
  align-items: center;
}

#sidebar {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0px;
  flex: 1;
}

.name {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

#name-container-flex {
  display: flex;
  flex-direction: column;
}

.name > h1 {
  font-size: clamp(4rem, 6vw, 10rem);
  cursor: default;
  margin: 0px;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

#menu > #name-container > p {
  font-size: clamp(0.5em, 4vw, 1em);
  width: 55%;
}

#menu-items {
  position: relative;
  z-index: 2;
  width: 50%;
}

.menu-item.active {
  text-decoration: underline;
  opacity: 1;
  text-decoration-color: var(--clr-accent-medium);
}

.menu-item:not(.active) {
  opacity: 0.3;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
  text-decoration: none;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
}

#menu-items:hover + #main {
  border: 5px solid yellow;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-size: clamp(2rem, 2.5vw, 5rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}

.menu-item:last-child {
  border-top: 1px solid rgb(255, 255, 255, 0.5);
}

/* MAIN */

.main-section {
  width: 100%;
  text-overflow: wrap;
  opacity: 1;
}

.paragraph {
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: rgba(255, 255, 255, 0.5);
  font-family: "pt_sansregular";
}

.text-highlight {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}

.text-link {
  cursor: pointer;
}

.text-highlight:hover {
  color: var(--clr-accent);
}

.text-highlight-subtle {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

#cornell:hover {
  cursor: url("src/assets/cornell-xs.jpeg"), pointer;
}

/* Projects  */

.project {
  /* border: 1px solid rgb(0, 255, 123); */

  padding: 16px;
  border: 1px solid var(--clr-accent-dark);
  display: flex;
  flex-direction: column;
  will-change: contents;
}

.project:hover:not([id="info"]) {
  background-image: linear-gradient(
    to left top,
    #000000,
    #0f0f0f,
    #181818,
    #202020,
    #292929
  );
  border: 1px solid var(--clr-accent);
  cursor: pointer;
}

.project-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project-header-icon {
  top: 10px;
}

.project-header {
  font-family: "Tech Share Mono", monospace;
  opacity: 0.9;
  font-size: clamp(1rem, 1.2vw, 5rem);
  gap: 8px;
  display: flex;
}

.project:hover > .project-info > .project-header-container > .project-header {
  color: var(--clr-accent);
  transition: 0.5s ease-in-out;
}

.project:hover
  > .project-info
  > .project-header-container
  > .project-header-icon {
  color: var(--clr-accent);
  transition: 0.5s ease-in-out;
}

.project-info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-image {
  flex: 1;
  display: flex;
  visibility: none;
}

.project-thumbnail {
  max-width: 0%;
  border: 1px solid #292929;
  transition: all 0.3s ease-in-out;
  visibility: none;
  contain: content;
  aspect-ratio: 16/9;
}

.project-thumbnail[id="contact"] {
  max-width: 0%;
  margin-top: 8px;
}

@media screen and ((max-height: 600px) or (max-width: 900px)) {
  .project-image {
    visibility: visible;
  }
  .project-thumbnail {
    max-width: 50%;
    visibility: visible;
    border: 2px solid var(--clr-accent);
    margin-top: 8px;
  }

  .project > .project-image > .project-thumbnail[id="sentiment"],
  .project-thumbnail[id="contact"] {
    aspect-ratio: 1;
  }

  .project-thumbnail[id="contact"] {
    max-width: 100%;
  }

  .project > .project-image > .project-thumbnail[id="contact"] {
    max-width: 100%;
    aspect-ratio: 1;
    filter: grayscale(100%);
    border: none;
  }
}

.scrollHeader {
  opacity: 0;
  visibility: hidden;
  display: none;
}

/* VERTICAL MODE */
@media screen and (max-width: 900px) {
  #menu-items {
    display: none;
  }
  #menu {
    justify-content: flex-start;
    gap: 2rem;
    height: fit-content;
  }
  #sidebar {
    position: relative;
    margin-top: 16px;
  }
  #container {
    display: flex;
    flex-direction: column;
    margin: 0 4vw;
  }
  #sidebar {
    width: 100%;
  }
  #name-container-flex {
    flex-direction: row;
    gap: 1rem;
  }
  .scrollHeader {
    position: sticky;
    visibility: visible;
    top: 0px;
    height: 100px;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    transition: 0.3s ease-in-out;
    opacity: 1;
  }
}

.hide {
  display: none;
}

.project-thumbnail[id="sentiment"],
.project-thumbnail[id="contact"] {
  aspect-ratio: 1;
}

.project-thumbnail[id="contact"] {
  filter: grayscale(100%);
}

.project:hover > .project-image > .project-thumbnail {
  max-width: 50%;
  border: 2px solid var(--clr-accent);
  visibility: visible;
  opacity: 1;
  margin-top: 8px;
  aspect-ratio: 16/9;
}

.project:hover > .project-image > .project-thumbnail[id="sentiment"],
.project-thumbnail[id="contact"] {
  aspect-ratio: 1;
}

.project:hover > .project-image > .project-thumbnail[id="contact"] {
  max-width: 100%;
  aspect-ratio: 1;
  filter: grayscale(100%);
  border: none;
}

.project-thumbnail:hover {
  opacity: 0.5;
}

/* Tags */
.tag-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  font-family: "PT Sans";
}
.tag {
  background-color: var(--clr-accent-dark);
  color: var(--clr-accent);
  padding: 0.5rem;
  font-size: clamp(0.5rem, 6vw, 1.1rem);
}

/* CONTACT */
.contact-button {
  background-color: var(--clr-accent-dark);
  color: var(--clr-accent);
  padding: 0.5rem;
  font-size: clamp(0.5rem, 6vw, 1.1rem);
}

.contact-button:hover {
  background-color: var(--clr-accent);
  color: black;
  transition: 0.5s ease-in-out;
}

.text-center {
  text-align: center;
}

/* LINKS */

.icon {
  max-height: 1.5em;
  max-width: 1.5em;
  opacity: 1;
}

.icon-circle {
  height: 1.5em;
  width: auto;
  padding: 0.5em;
  transition: 0.5s ease-in-out;
}

.icon-circle:hover {
  opacity: 1;
  transition: ease-in-out;
  background-color: var(--clr-accent);
}
.links {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: fit-content;
  background-color: var(--clr-accent-medium);
}

/* PORTRAIT */
#portrait-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

#portrait {
  max-width: 100%;
  filter: grayscale(100%);
  border: var(--clr-accent);
}
