:root {
  --clr-primary: #65b7e5;
  --clr-accent: rgb(0, 255, 234);
  --clr-accent-medium: rgb(0, 255, 234, 0.7);
  --clr-accent-dark: rgb(0, 255, 234, 0.3);
  --clr-secondary-400: #e7f6ff;
  --clr-secondary-200: #f0eeee;

  --clr-neutral-200: #ffff;
  --clr-neutral-900: rgb(0, 0, 0);

  --ff-primary: "Roboto Slab", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 29, 70);
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0% 10vw;
}

#main {
  flex: 1;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  border-bottom-width: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Arial, Helvetica sans-serif;
  height: 3000px;
  justify-content: space-between;
  position: relative;
  top: 0;
}

#sidebar {
  height: 100vh;
  width: 50vw;
  position: sticky;
  top: 0px;
  flex: 1.5;
}

.name {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.name > h1 {
  font-size: clamp(4rem, 10vw, 10rem);
  cursor: default;
  margin: 0px;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#menu > #name-container > p {
  font-size: clamp(0.5em, 4vw, 1em);
  width: 80%;
}

#menu-items {
  position: relative;
  z-index: 2;
}

.menu-item.active {
  text-decoration: underline;
  opacity: 1;
  text-decoration-color: var(--clr-accent-medium);
}

.menu-item:not(.active) {
  opacity: 0.3;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
  text-decoration: none;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
}

#menu-items:hover + #main {
  border: 5px solid yellow;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-size: clamp(2rem, 2.5vw, 5rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}

/* MAIN */

.main-section {
  width: 100%;
  text-overflow: wrap;
  opacity: 1;
  height: fit-content;
}

.paragraph {
  font-size: clamp(0.5rem, 6vw, 1.1rem);
  color: rgba(255, 255, 255, 0.5);
}

.text-highlight {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}

.text-link {
  cursor: pointer;
}

.text-highlight:hover {
  color: var(--clr-accent);
}

.text-highlight-subtle {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 550;
}

/* Projects  */

.project {
  /* border: 1px solid rgb(0, 255, 123); */
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--clr-accent-dark);
  display: flex;
  flex-direction: column;
}

.project:hover {
  background-color: #292929;
  border: 1px solid var(--clr-accent);
}

.project > .project-info > .project-header {
  font-family: "Tech Share Mono", monospace;
  opacity: 0.9;
  font-size: clamp(1rem, 1.5vw, 5rem);
  margin-bottom: 8px;
}

.project:hover > .project-info > .project-header {
  color: var(--clr-accent);
  transition: 0.3s ease-in-out;
}

.project-info {
  flex: 1;
  width: 100%;
}

.project-image {
  flex: 1;
}

.project-thumbnail {
  max-width: 0%;
  border: 1px solid #292929;
  margin-top: 8px;
}

.project:hover > .project-image > .project-thumbnail {
  max-width: 100%;
  transition: max-width 0.3s ease-in-out;
  border: 2px solid var(--clr-accent);
}

/* Tags */
.tag-container {
  display: flex;
  margin-top: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
.tag {
  background-color: var(--clr-accent-dark);
  color: var(--clr-accent);
  padding: 0.5rem;
  font-size: clamp(0.5rem, 6vw, 1.1rem);
}

/* LINKS */

.icon {
  max-height: 1.5em;
  max-width: 1.5em;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

.icon-circle {
  height: 1.5em;
  width: auto;
  border-radius: 1em;
  padding: 0.5em;
  transition: 0.2s ease-in-out;
}

.icon-circle:hover {
  opacity: 1;
  transition: ease-in-out;
}
.github {
  background-color: var(--clr-primary);
  color: white;
  width: fit-content;
  padding: 0.3em 0.7em 0.3em 0.7em;
  margin-top: 2em;
  border-radius: 0.2em;
  box-shadow: -6px 6px var(--clr-neutral-900);
  transition: 0.1s ease-in-out;
}

.github:hover {
  color: var(--clr-neutral-900);
  transform: translate(-8px, 8px);
  box-shadow: 0px 0px var(--clr-neutral-900);
}
.links {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: fit-content;
  background-color: var(--clr-accent-medium);
  margin-bottom: 48px;
}

.links:hover {
  background-color: var(--clr-accent);
}
